.title-flight {
    font-size: 50px;
    margin-bottom: 50px;
    font-family: "Times New Roman", Times, serif;
    color: var(--darkAquamarine);
    font-weight: none;
    text-align: center;
}

.item-flight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.item {
    background-color: #f1f1f1;
    padding: 3rem;
    border-radius: 1rem;
    width: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    min-width: 60%;
}

.plane-item {
    width: 20px;
}

.container-flight1 {
    display: flex;
    gap: 10px;
}

.container-flight2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    gap: 2rem;
    padding: 10px 20px;
}

.title-country {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.plane-item2 {
    width: 100%;
}

.user-item {
    width: 20px;
}

.container-flight3 {
    background-image: url("../img/planeItem2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100px;
    display: flex;
    gap: 10rem;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctf-3-1 {
    margin-left: 20%;
}

.ctf-3-2 {
    margin-left: 3%;
}

.ctf-3-3 {
    display: flex;
    align-items: center;
    text-align: center;
   margin-left: 5%;
    margin-right: -20%;
}

.button-reserve {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    width: 50px;
    cursor: pointer;
    border: 3px solid var(--grey);
    border-radius: 10px;
    font-size: 15px;
    margin: 40px;
    background-color: white;
    transition: border 0.3s ease; 
}

.button-reserve:hover {
    border: 3px solid rgb(21, 109, 153); 
    box-shadow: 0 0 10px rgba(21, 109, 153, 0.5); 
}

.button-reserve img {
    width: 30px;
    height: 20px;
}

.item-flight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.flight-list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.button-card-container {
    display: flex;
    gap: 10px;
}

.button-delete-container {
    align-self: flex-start;
}

.button-delete {
    background-color: #de0f3f;
    border: none;
    width: 50px;
    padding: 10px;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-delete:hover {
    transform: scale(1.1);
}

.trash-icon {
    width: 20px;
    height: auto;
}
