.title-plane {
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    color: var(--darkAquamarine);
    font-weight: none;
    text-align: center;
}

.plane-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.item-plane {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 3rem;
    border-radius: 1rem;
    width: 30%;
    gap: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.container-form {
    display: flex;
    width: 200px;
    gap: 20px;
    padding: 1rem;
    margin-top: 10px;
}

.plane-item {
    width: 50px;
    height: 50px;
}

.plane-name {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #354e55;
}

.plane-name strong {
    font-weight: bold;
}

.button-option {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 3rem;
}

.button-option a {
    background-color: var(--aquamarine);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-option a:hover {
    background-color: var(--darkAquamarine);
}