.principal-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px; /* Espacio entre los formularios */
    padding: 20px;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Estilo general de los formularios */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px; /* Espacio entre los formularios */
}

/* Separador entre los formularios */
.form-divider {
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilo cuando el ratón pasa sobre el botón */
.login-btn:hover {
    background-color: #45a049;
}

/* Mensajes de error y éxito */
.success-message, .error-message {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.success-message {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.error-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}


.container-form1, .container-form2{
    background-color: #ffffff;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 20px;
}